.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    img {
        cursor: pointer;
    }

    .menu {
        // svg {
        //     cursor: pointer;
        //     &:hover {
        //         #homangle {
        //             stroke-dashoffset: 2000;                        
        //         }

        //     }
           
        //     #homangle{
        //         stroke-dasharray: 2000, 2000;
        //         stroke-dashoffset: 0;
        //         transition: stroke-dashoffset 0.7s ease;
        //     }
        // }
        
        ul {
            display: flex;

            li {
                margin-right: 50px;

                &:last-of-type {
                    margin-right: 0;
                }

                a {
                    font-weight: 500;
                    text-decoration: none;

                    &::after {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 50%;
                        position: relative;
                        background: #333;
                        margin-top: 5px;
                        transition: width .5s;
                    }

                    &:hover {

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .user {
        >button {
            border: 1px solid #333;
            cursor: pointer;
            background: rgba(255,255,255,.4);

            &:hover {
                background: #eeeeee;
            }

            &:last-of-type {
                margin: 0;
            }

            >fa-icon {
                margin-right: 5px;
            }
            .text {
                font-weight: 500;
            }
        }
    }
}