<div class="header-container">
    <img src="../../../../assets/images/logos/Logo-ka.svg" alt="TBC For Business">
    <div class="menu">
        <ul>
            <li><a href="">პროდუქტები</a></li>
            <li><a href="">შეთავაზებები</a></li>
            <li><a href="">რატომ თიბისი?</a></li>
            <li><a href="">ჩვენს შესახებ</a></li>
        </ul>
        <!-- <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="70px" height="77px" viewBox="0 0 470 440" style="enable-background:new 0 0 470 440;" xml:space="preserve">
            <polygon id="homangle" fill="none" stroke="#00a3e0" stroke-opacity="0.6" stroke-width="15" stroke-miterlimit="10" points="235.49,7 5,437 465,437 "/>
        </svg> -->
    </div>
    <div class="user">
    <button>
        <fa-icon [icon]="faUser"></fa-icon>
        <span class="text">ლუკა ჩიტაიშვილი</span>
    </button>
    <button>
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        <span class="text">გამოსვლა</span>
    </button>
    </div>
</div>
