<header>
    <div class="header-container">
        <img src="../../../../assets/images/logos/Logo-ka.svg" alt="TBC For Business">
        <div class="menu">

        </div>
        <div class="user">
        <button>
            <fa-icon [icon]="faUser"></fa-icon>
            <span class="text">ლუკა ჩიტაიშვილი</span>
        </button>
        <button>
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            <span class="text">გამოსვლა</span>
        </button>              
        
        </div>
    </div>
</header>
